# This is the root or top-most EditorConfig file. Place this (or a symbolic link
# to this) in your home directory.
root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
